<!-- Loading -->
<app-loading [loading]="formGroup"></app-loading>

<!-- Event display -->
<mat-card *ngIf="formGroup">
  <form [formGroup]="formGroup" class="container">

    <mat-form-field>
      <input matInput placeholder="Nom" formControlName="name" autocomplete="off">
      <mat-error *ngIf="formGroup.get('name').invalid">Nom requis</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="formGroup.get('description').invalid">{{ d.l.eventDescriptionError }}</mat-error>
    </mat-form-field> -->

    <!-- <markdown [data]="formGroup.get('description').value"></markdown> -->


    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date de mise en place" formControlName="setUpDate" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.get('setUpDate').invalid">Date incorrecte</mat-error>
    </mat-form-field>

		<div>
			<label>Rayon des cercles</label>
			<mat-slider min="10" max="500" step="5" thumbLabel="true" formControlName="circleRadius" class="slider"></mat-slider>
		</div>

		<div style="display: inline;">
			<label>Bordures</label>
			<mat-slider min="10" max="500" step="5" thumbLabel="true" formControlName="circleWidth" class="slider"></mat-slider>
		</div>

  </form>

	<app-image-browser *ngIf="new" (imageOut)="image=$event"></app-image-browser>

</mat-card>

<app-holds-list *ngIf="formGroup && image" #holdsCmp
	[image]="image"
	[circleRadius]="formGroup.get('circleRadius').value"
	[circleWidth]="formGroup.get('circleWidth').value"
	hallId="{{ hallId }}"
	wallId="{{ wallId }}"
></app-holds-list>

<div class="mat-fab-bottom-right">
  <button *ngIf="formGroup" mat-fab color="primary"
          (click)="submit()"
          [disabled]="formGroup.invalid || formGroup.pristine || holdsCmp.getWallHolds().length < 10">
    <mat-icon>save</mat-icon>
  </button>
	<button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<br><br><br><br><br><br>
