<mat-card *ngIf="hall && !select">
	{{ hall.name }} - Liste des pans
</mat-card>
<mat-card *ngIf="hall && select">
	{{ hall.name }} > Création de bloc > Selection du secteur
</mat-card>

<app-loading [loading]="wallsList" fullPage="false"></app-loading>

<app-paged-list [list]="wallsList" #pages>
	<div *ngFor="let wall of pages.truncatedList()">
		<app-conditional-router-link *ngIf="!select" link="/blocs/{{ hallId }}" enabled="true">
		  <mat-card>
				{{ wall.name }}<br><br>
				<img mat-card-image [src]="wall.image">
				<button mat-icon-button
								*ngIf="userIsAdmin()"
								(click)="delete(wall)">
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button
								*ngIf="userIsAdmin()"
								routerLink="/walls/{{ hallId }}/{{ wall.wallId }}/edit">
					<mat-icon>edit</mat-icon>
				</button>
		  </mat-card>
		</app-conditional-router-link>

		<mat-card *ngIf="select" (click)="wallId.emit(wall.wallId)" class="click">
			{{ wall.name }}<br><br>
			<img mat-card-image [src]="wall.image">
		</mat-card>
	</div>
</app-paged-list>


<div class="mat-fab-bottom-right">
	<button mat-fab color="primary"
					*ngIf="userIsAdmin() && !select"
					routerLink="/walls/{{ hallId }}/-/edit">
		<mat-icon>add</mat-icon>
	</button>
  <button mat-fab color="primary"
					*ngIf="userIsAdmin() && !select"
					routerLink="/home">
		<mat-icon>arrow_back</mat-icon>
	</button>
</div>

<div *ngIf="userIsAdmin() && !select"><br><br><br><br><br><br></div>
