<div class="info">
  Petite astuce : ajoute ce site à l'écran d'accueil de ton téléphone, cela te permettra d'y revenir plus facilement !<br>
	Certains navigateurs masquent la barre de recherche pour un meilleur confort d'utilisation, alors choisis bien !<br>
  <br>

  <h2>Fonctionnalités</h2>

  <h3>Consulter des blocs</h3>
  Consulte les blocs crées par d'autres utilisateurs, essaye-les et donne ton avis.<br>
	Tu peux voter plusieurs fois alors reste raisonnable. <br>

	<h3>Partager ses blocs</h3>
	Crée un bloc et permet aux autres utilisateurs de le consulter... ou tout simplement pour t'en rappeler plus tard !<br>
	Il suffit pour cela de cliquer sur le bouton "plus" en bas à droite de ton écran.<br>

	<h3>Légende</h3>
	Lorsque tu crées un bloc, en cliquant plusieurs fois sur une prise tu peux changer sa couleur.<br>
	- rouge : prise de pieds et mains<br>
	- vert : prise de mains<br>
	- bleu : prise de pieds<br>

  <div *ngIf="auth.getUserProfile() && auth.getUserProfile().admin">
    <h3>Administrateur</h3>
    - Ajouter ou modifier un pan<br>
		- Supprimer des blocs<br>
  </div>

</div>
