<div *ngIf="!selectWall">
	<mat-card *ngIf="hall">
		<label routerLink="/blocs/{{ hallId }}">{{ hall.name }}</label>
		> Création de bloc
	</mat-card>

	<!-- Loading -->
	<app-loading [loading]="formGroup"></app-loading>

	<!-- Display -->
	<mat-card *ngIf="formGroup">
	  <form [formGroup]="formGroup" class="container">

			<mat-form-field>
				<input matInput placeholder="Auteur" formControlName="author" autocomplete="off">
				<mat-error *ngIf="formGroup.get('author').invalid">Auteur requis</mat-error>
			</mat-form-field>

			<mat-form-field>
			  <mat-select placeholder="Type" formControlName="type">
			    <mat-option *ngFor="let i of [0, 1, 2]" value="{{ i }}">{{ blocs.getType(i) }}</mat-option>
			  </mat-select>
			</mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Commentaire" formControlName="description"></textarea>
      <mat-error *ngIf="formGroup.get('description').invalid">Description trop longue</mat-error>
    </mat-form-field>

	  </form>

		<label>Difficulté estimée :&nbsp;{{ blocs.computeDiff(diff) }}&nbsp;</label>
		<div>
			<button mat-icon-button (click)="changeDiff(-1)">
				<mat-icon>remove_circle_outline</mat-icon>
			</button>
			<button mat-icon-button (click)="changeDiff(1)">
				<mat-icon>add_circle_outline</mat-icon>
			</button>
		</div>
	</mat-card>

	<div *ngFor="let wall of blocWalls">
		<app-holds-list
			hallId="{{ hallId }}" wallId="{{ wall.wallId }}"
			state="sel"
			[blocs]="blocWalls[wall.index].holds"
			[circleRadius]="walls[wall.wallId].circleRadius"
			[circleWidth]="walls[wall.wallId].circleWidth"
			[image]="walls[wall.wallId].image"
			(holds)="setHolds(wall.index, $event)"
			#holdsCmp
		></app-holds-list>
	</div>

	<div *ngIf="blocWalls.length == 0">
		<mat-card>
			Ajoute un secteur avec le bouton +
		</mat-card>
	</div>

	<mat-card>
		1 click -> rouge : prise de pieds et mains<br>
		2 clicks -> vert : prise de mains uniquement<br>
		3 clicks -> bleu : prise de pieds uniquement<br>
		4 clicks -> suppression
	</mat-card>
</div>

<div *ngIf="selectWall">
	<app-walls-dash hallId="{{ hallId }}" select="true" (wallId)="add($event)"></app-walls-dash>
</div>

<div class="mat-fab-bottom-right">
  <button *ngIf="formGroup" mat-fab color="primary"
          (click)="remove()"
					[disabled]="selectWall">
    <mat-icon>remove</mat-icon>
  </button>
  <button *ngIf="formGroup" mat-fab color="primary"
          (click)="selectWall = true"
					[disabled]="selectWall || blocWalls.length >= 10">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="formGroup" mat-fab color="primary"
          (click)="submit()"
          [disabled]="formGroup.invalid || formGroup.pristine || invalid()">
    <mat-icon>save</mat-icon>
  </button>
	<button *ngIf="!selectWall" mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
	<button *ngIf="selectWall" mat-fab color="primary" (click)="selectWall = false"><mat-icon>arrow_back</mat-icon></button>
</div>

<br><br><br><br><br><br>
