<mat-card *ngIf="hall && bloc">
	<label routerLink="/blocs/{{ hallId }}">{{ hall.name }}</label>
	 > Détail d'un bloc
</mat-card>

<app-loading [loading]="bloc"></app-loading>

<mat-card *ngIf="bloc">
	<label>Type : {{ blocs.getType(bloc.type) }}</label><br>

	<br>

	<label>Diff. : {{ blocs.computeDiff(bloc.diff) }}</label>
	<br>
	<div>
		<label>Evaluer : </label>
		<button mat-icon-button matTooltip="moins difficile" [disabled]="evaluated" (click)="evalDiff(-1)">
			<mat-icon>remove_circle_outline</mat-icon>
		</button>
		<button mat-icon-button matTooltip="bien évalué" [disabled]="evaluated" (click)="evalDiff(0)">
			<mat-icon>thumb_up</mat-icon>
		</button>
		<button mat-icon-button matTooltip="plus difficile" [disabled]="evaluated" (click)="evalDiff(1)">
			<mat-icon>add_circle_outline</mat-icon>
		</button>
		<br>
	</div>

	<br>

	<div *ngIf="bloc.nbOfVotes > 0">
		<label>Note : {{ bloc.rate.toFixed(2) }}/5 ({{ bloc.nbOfVotes }} votes)</label><br>
	</div>
	<div>
		<label>Noter : </label>
		<mat-slider min="0" max="5" step="1" thumbLabel="true" [(ngModel)]="rate" [disabled]="rated"></mat-slider>
		<button *ngIf="isRate && !rated" mat-icon-button matTooltip="valider" (click)="validateRate()">
			<mat-icon>done</mat-icon>
		</button>
	</div>

	<br>

	<div *ngIf="bloc.description">
		Commentaire : {{ bloc.description }}
	</div>
</mat-card>

<app-holds-list *ngFor="let wall of blocWalls"
	hallId="{{ hallId }}"
	state="disp"
	[circleRadius]="wallsList[wall.wallId].circleRadius"
	[circleWidth]="wallsList[wall.wallId].circleWidth"
	[image]="wallsList[wall.wallId].image"
	[blocs]="wall.holds"
	#holdsCmp
></app-holds-list>

<mat-card>
	rouge : prises de pieds et mains<br>
	vert : prises de mains uniquement<br>
	bleu : prises de pieds uniquement
</mat-card>

<mat-card *ngIf="bloc">
	<label>Auteur : {{ bloc.author }}</label><br>
	<label>Date : {{ bloc.date | date:d.l.shortDateFormat:'':d.l.locale }}</label>
</mat-card>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary"
					(click)="location.back()">
		<mat-icon>arrow_back</mat-icon>
	</button>
</div>

<br><br><br><br><br><br>
