<mat-card>
	<canvas #canvas
		(click)=onImageClick($event)
		width="2000" height="1400"
	>Get a better browser, bro.</canvas>
</mat-card>

<!-- <app-loading [loading]="imgElement" fullPage="false"></app-loading> -->
