<div class="container">
  <div>
    <mat-card>

      <div *ngIf="!sent" class="container">
        <p [innerHTML]="d.l.beforePwdRstEmailInfo"></p>
        <mat-form-field>
          <input matInput placeholder="{{ d.l.askForExistingEmailLabel }}" [formControl]="email_ctrl" required autocomplete="off">
          <mat-error *ngIf="email_ctrl.invalid">{{ d.l.emailFormatError }}</mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="email_ctrl.invalid" (click)="sendEmail()" color='primary'>{{ d.l.sendPwdResetEmailLabel }}</button>
        <button mat-raised-button (click)="back()">{{ d.l.backLabel }}</button>
      </div>

      <div *ngIf="sent" class="container">
        <p [innerHTML]="d.format(d.l.afterPwdRstEmailInfo, email)"></p>
        <button mat-raised-button (click)="back()">{{ d.l.backLabel }}</button>
      </div>

    </mat-card>
  </div>
</div>
