<div class="container">
  <div>
    <mat-card>
      <div class="center">
        <img src="/assets/img/logo.png" style="max-width: 200px">
      </div>
      <form [formGroup]="loginCtrl" (ngSubmit)="submit()" class="container center">
        <h2 [innerHTML]="d.l.signInPageTitle"></h2>

        <span *ngIf="auth.error" class="error">{{ auth.error }}</span>

        <mat-form-field>
          <input matInput type="email" placeholder="{{ d.l.askForExistingEmailLabel }}" formControlName="email" autocomplete="off">
          <mat-error *ngIf="loginCtrl.get('email').invalid">{{ d.l.emailFormatError }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ d.l.askForExistingPwdLabel }}" formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="loginCtrl.get('password').invalid">{{ d.l.passwordTooShortError }}</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="loginCtrl.invalid" color="primary">{{ d.l.signInButtonLabel }}</button>

        <a routerLink="/password_reset" class="alc">{{ d.l.passwordForgottenLabel }}</a>
      </form>
    </mat-card>
  </div>
</div>


<button mat-fab class="mat-fab-bottom-right" color="primary"
        (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
