<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.content }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Non</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" color="warn">Oui</button>
</mat-dialog-actions>
