.path {
	margin-bottom: 16px;
}

.form-container {
	margin-top: 32px !important;
}

.filter {
	margin-bottom: 24px !important;
}

mat-slider {
	min-width: 300px;
	margin-bottom: -24px;
}

.checkboxes {
	margin-top: 12px;
	padding: 8px;
}

mat-checkbox {
	margin-right: 24px;
}

.filter-btn {
	float: right !important;
	margin-top: -12px;
	margin-right: -12px;
}
