<mat-card *ngIf="hall">
	<label class="path">{{ hall.name }} - Liste des blocs</label>
	<button mat-icon-button (click)="showFilter=!showFilter" class="filter-btn">
		<mat-icon>filter_list</mat-icon>
	</button>
	<div *ngIf="showFilter">
		<hr>
		<div *ngIf="formGroup && displayedBlocsList" class="form-container">
			<form [formGroup]="formGroup">
				<div class="filter">
					<div>Type : </div>
					<div class="checkboxes">
						<mat-checkbox formControlName="type0">{{ blocs.getType(0) }}</mat-checkbox>
						<mat-checkbox formControlName="type1">{{ blocs.getType(1) }}</mat-checkbox>
						<mat-checkbox formControlName="type2">{{ blocs.getType(2) }}</mat-checkbox>
					</div>
				</div>
				<div class="filter">
					<div>Difficulté : </div>
					<mat-slider min="24" max="58" step="1" thumbLabel="true" formControlName="minDiff" [displayWith]="blocs.computeDiff"></mat-slider>
					<mat-slider min="24" max="58" step="1" thumbLabel="true" formControlName="maxDiff" [displayWith]="blocs.computeDiff"></mat-slider>
				</div>
			</form>
		</div>
	</div>
</mat-card>

<app-paged-grid [list]="displayedBlocsList" pageSize="12" #pages>
	<div *ngFor="let bloc of pages.truncatedList()">
		<app-conditional-router-link
				link="/holds/{{ hallId }}/{{ bloc.blocId }}"
				enabled="true">
		  <mat-card class="click">
				{{ blocs.computeDiff(bloc.diff) }} par {{ bloc.author }}<br>
				{{ blocs.getType(bloc.type) }}<br>
				{{ bloc.date | date:d.l.shortDateFormat:'':d.l.locale }}<br>
				<button mat-icon-button
								*ngIf="userIsAdmin()"
								(click)="delete(bloc)">
					<mat-icon>delete</mat-icon>
				</button>
		  </mat-card>
		</app-conditional-router-link>
	</div>
</app-paged-grid>

<div class="mat-fab-bottom-right">
	<button mat-fab color="primary"
					routerLink="/blocs/{{ hallId }}/-/edit">
		<mat-icon>add</mat-icon>
	</button>
  <button mat-fab color="primary"
					routerLink="/home">
		<mat-icon>arrow_back</mat-icon>
	</button>
</div>

<br><br><br><br><br><br>
