<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  {{ data.content }}<br>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nom d'utilisateur" #username>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Mot de passe" #password>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="{username: username.value, password: password.value}" color="primary">Envoyer</button>
</mat-dialog-actions>
