/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
body {
  background: #E2E4E6;
  padding-top: 4em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  max-width: 1010px;
  margin: auto;
	margin-left: -5px;
	margin-right: -5px;
}

.grid-container mat-card {
	box-sizing: border-box !important;
  text-align: left;
	height: 100%;
}

.grid-container .wrapper {
	box-sizing: border-box !important;
	padding: 5px;
	height: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

.container {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.container > * {
  width: 100%;
}

.error {
  background:#111111;
  padding:1em;
  width:100%;
  display:block;
  margin-bottom:20px;
  margin-left: -1em;
}

.center, mat-card-actions {
  text-align: center;
}

div.mat-fab-bottom-right {
  position: fixed !important;
  bottom: 28px;
  right: 28px;
}

div.mat-fab-bottom-right button:not(:last-child) {
  margin-right: 14px;
}

button.mat-fab-bottom-right {
  position: fixed !important;
  bottom: 28px;
  right: 28px;
}

button.mat-fab[ng-reflect-disabled="true"] {
  background-color: #dcdcdc !important;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-70%);
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.3);*/
}

.click:hover {
	cursor: pointer;
}
