@import '~@angular/material/theming';

@include mat-core();

$custom-theme: (
	50	:	#fae5e6	,
	100	:	#f3bec0	,
	200	:	#eb9296	,
	300	:	#e3666b	,
	400	:	#dd464c	,
	500	:	#d7252c	,
	600	:	#d32127	,
	700	:	#cd1b21	,
	800	:	#c7161b	,
	900	:	#be0d10	,
	A100	:	#ffebeb	,
	A200	:	#ffb8b8	,
	A400	:	#ff8586	,
	A700	:	#ff6b6d	,
	contrast: (
		50	:	$black-87-opacity,
		100	:	$black-87-opacity,
		200	:	$black-87-opacity,
		300	:	white,
		400	:	white,
		500	:	$white-87-opacity,
		600	:	$white-87-opacity,
		700	:	$white-87-opacity,
		800	:	$white-87-opacity,
		900	:	$white-87-opacity,
		A100	:	$black-87-opacity,
		A200	:	white,
		A400	:	white,
		A700	:	$white-87-opacity,
	)
);

$app-primary: mat-palette($custom-theme);
$app-accent:  mat-palette($mat-pink);

$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
