<div class="home-container" [class.is-mobile]="media.mobileSize">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="auth.getCurrentUser()"><mat-icon>menu</mat-icon></button>
    <!-- <button mat-icon-button routerLink='/home' class="homebtn" [disabled]="!auth.getCurrentUser()"><mat-icon>home</mat-icon></button> -->
    <h1 class="app-name click" routerLink='/home'>
      <img src="/assets/img/logo.png">
      <span>{{ d.l.appName }}</span>
    </h1>
    <div class="right-btns">
      <button *ngIf="this.location.path() !== '/infos'" mat-icon-button routerLink='/infos'>
        <mat-icon>info</mat-icon>
      </button>
      <button *ngIf="this.location.path() === '/infos'" mat-icon-button (click)='location.back()'>
        <mat-icon>info</mat-icon>
      </button>
      <button *ngIf="this.location.path() !== '/account'" mat-icon-button routerLink='/account'>
        <mat-icon>account_circle</mat-icon>
      </button>
      <button *ngIf="this.location.path() === '/account'" mat-icon-button (click)='location.back()'>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- Side navigation bar & content -->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="media.mobileSize ? 56 : 0">

    <!-- Side bar -->
    <mat-sidenav #snav [mode]="media.mobileSize ? 'over' : 'side'" [fixedInViewport]="media.mobileSize" fixedTopGap="56">
      <div>
        <mat-nav-list>
					<div *ngFor="let hall of hallsList">
						<a *ngIf="userIsAdmin(hall.hallId)" mat-list-item routerLink="/walls/{{ hall.hallId }}">{{ hall.name }}</a>
					</div>
          <a mat-list-item (click)="snav.toggle(); auth.logout()"> <img mat-list-avatar src="assets/img/icons/logout.png"> {{ d.l.logOutLabel }}</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <div class="container">
        <div>
          <!-- Navigate from the different modules of the app (cafet, vote, calendar, ...) -->
          <router-outlet defEnabled="true"></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
