<mat-card>
	<h2>{{ d.l.accountPageTitle }}</h2>
	<h3>Nom</h3>
	<label *ngIf="name">{{ name }}</label>
	<br><br>

	<h3>Email</h3>
	<label>{{ email }}</label>
  <div class="center">
    <button mat-raised-button (click)="newPassword()" color="primary">{{ d.l.changePasswordButtonLabel }}</button><br>
  </div>
</mat-card>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<br><br><br><br><br><br>
