<mat-card>
	Liste des salles
</mat-card>

<app-paged-list [list]="hallsList" #pages>
	<div *ngFor="let hall of pages.truncatedList()">
		<app-conditional-router-link link="/blocs/{{ hall.hallId }}" enabled="true">
		  <mat-card class="click">
				<h2>{{ hall.name }}</h2>
				<label>{{ hall.description }}</label>

				<h3>Adresse</h3>
				<label>{{ hall.location }}</label>
		  </mat-card>
		</app-conditional-router-link>
	</div>
</app-paged-list>
