<div class="info">

  <h2>Mentions légales</h2>
	Une application pour partager ses parcours de bloc<br>
  <br>

  <h3>Informations éditoriales</h3>
  <h4>Editeur</h4>
	Esmug<br>
  <br>

  <h4>Directeur de la publication</h4>
	Thierry Gerardin, président<br>
	Email: thierry.gerardin.esmug@gmail.com<br>
  <br>

  <h3>Hébergeur de la base de donnée</h3>
  Firebase<br>
  Création : septembre 2011<br>
  Organisation mère : Google<br>
  Siège social : San Francisco, Californie, États-Unis<br>
  <br>
  Firebase est un ensemble de services d'hébergement pour n'importe quel type d'application<br>
  <br>

  <h3>Icônes & Illustrations</h3>
  Les icônes & illustrations présentent sur cette application sont la propriété de leurs auteurs respectifs.<br>
  Les icônes présentent dans la barre lattérale appartiennent à https://www.flaticon.com/.

</div>
<br>
<button mat-fab class="mat-fab-bottom-right" color="primary"
        (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
