<div *ngIf="enabled" class="wrapper"
     [routerLink]="link">
  <ng-container *ngTemplateOutlet="content" ></ng-container>
</div>
<div *ngIf="!enabled" class="wrapper">
  <ng-container *ngTemplateOutlet="content" ></ng-container>
</div>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
